
<div class="w3-padding-32">
  <div class="w3-bar w3-border">
    <a href=<%= docs_v1_root_path %> class="w3-bar-item w3-button <%= params[:controller] == 'docs/v1/welcome' ? 'w3-light-grey' : '' %>">Home</a>
    <a href=<%= docs_v1_devices_path %>  class="w3-bar-item w3-button <%= params[:controller] == 'docs/v1/devices' ? 'w3-light-grey' : '' %>">Devices</a>
    <a href="#" class="w3-bar-item w3-button <%= params[:controller] == 'docs/v1/customer_barcodes' ? 'w3-light-grey' : '' %>">Customer Barcodes</a>
  </div>
</div>