
<div class="w3-padding-32">
  <div class="w3-bar w3-border">
    <a href=<%= docs_v1_root_path %> class="w3-bar-item w3-button <%= params[:controller] == 'docs/v1/welcome' ? 'w3-light-grey' : '' %>">Home</a>
    <a href=<%= docs_v1_accounts_path %> class="w3-bar-item w3-button <%= params[:controller] == 'docs/v1/accounts' ? 'w3-light-grey' : '' %>">Accounts</a>
    <a href=<%= docs_v1_bill_counts_path %> class="w3-bar-item w3-button <%= params[:controller] == 'docs/v1/bill_counts' ? 'w3-light-grey' : '' %>">Bill Counts</a>
    <a href=<%= docs_v1_bill_hists_path %> class="w3-bar-item w3-button <%= params[:controller] == 'docs/v1/bill_hists' ? 'w3-light-grey' : '' %>">Bill Hists</a>
    <a href=<%= docs_v1_customers_path %> class="w3-bar-item w3-button <%= params[:controller] == 'docs/v1/customers' ? 'w3-light-grey' : '' %>">Customers</a>
    <a href=<%= docs_v1_customer_barcodes_path %> class="w3-bar-item w3-button <%= params[:controller] == 'docs/v1/customer_barcodes' ? 'w3-light-grey' : '' %>">Customer Barcodes</a>
    <a href=<%= docs_v1_denoms_path %>  class="w3-bar-item w3-button <%= params[:controller] == 'docs/v1/denoms' ? 'w3-light-grey' : '' %>">Denoms</a>
    <a href=<%= docs_v1_devices_path %>  class="w3-bar-item w3-button <%= params[:controller] == 'docs/v1/devices' ? 'w3-light-grey' : '' %>">Devices</a>
    <a href=<%= docs_v1_dev_statuses_path %>  class="w3-bar-item w3-button <%= params[:controller] == 'docs/v1/dev_statuses' ? 'w3-light-grey' : '' %>">Device Statuses</a>
    <a href=<%= docs_v1_transactions_path %> class="w3-bar-item w3-button <%= params[:controller] == 'docs/v1/transactions' ? 'w3-light-grey' : '' %>">Transactions</a>
    
  </div>
</div>